<div class="tiles-people">
    @foreach (var judge in Judges)
    {
        @if (judge.Chair)
        {
            <!-- @judge.FullName -->
            <div class="tile" id="@($"{judge.FirstName}-{judge.LastName}".ToLower())">
                <div class="person-main">
                    <div class="person-name">
                        <h4>@judge.FullName</h4>
                    </div>
                    <div class="person-bio">
                        <p>
                            <span class="tag">Jury Chair for @judge.Category</span>
                            <br>
                            <span class="tag">@judge.Role, @judge.Company</span>
                        </p>
                        <p>
                            @judge.Bio
                        </p>
                    </div>
                </div>
                <div class="person-image">
                    <img src=@judge.Headshot alt=@judge.FullName>
                </div>
            </div>
        }
    }
</div>

@code {
    [CascadingParameter] // from Shared.JudgesContext.razor
    public List<Judge> Judges { get; set; }
}